.text-center {
    text-align: center;
  }
  
  .my-4 {
    margin: 2rem 0;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .mt-4 {
    margin-top: 1.5rem;
  }
  
  .me-2 {
    margin-right: 0.5rem;
  }
  